<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		<h2>Last tasks</h2>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<td>Title</td>
					<td>Condition</td>
					<td>Urgent</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="task in ls.tasks">
					<td>{{task.title}}</td>
					<td>{{ls.getStatus(task.completed)}}</td>
					<td>
						<span class="label"
						ng-class="{
							'label-danger': ls.isDanger(task.urgency),
							'label-success': ls.isSuccess(task.urgency),
							'label-default': ls.isDefault(task.urgency)
						}">
						{{ls.getEmergency(task.urgency)}}	
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>